.sidebar{
    background-color: $color-primary;
    // background-image: url(https://images.unsplash.com/photo-1600948836101-f9ffda59d250?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1321&q=80);
    // background-size: cover;
    // background-position: center;
    grid-column:  sidebar-start / sidebar-end;
    grid-row: 1/-1;
}